@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@700&display=swap');

body {
    margin: 0;
}

.heading {
    background-color: black;
    color: rgb(170, 185, 197);
    letter-spacing: 5px;
    font-family: "Poppins", sans-serif;
    font-size: 22pt;
    text-align: center;
    margin: 0;
    padding: 2%;
    box-shadow: 0 4px 4px 0px #06192f;
    position: relative;
    z-index: 1;
}

.cardContainer {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
    grid-template-rows: 1fr;
    align-items: center;
    justify-items: center;
    gap: 50px;
    padding: 5%;
    background-image: url("../../../public/main.jpeg");
    z-index: 1;
}